nodered__subscription_manager_flow.json
[{"id":"2bbc42a3410a5ddc","type":"tab","label":"subscription manager","disabled":false,"info":"","env":[]},{"id":"95c4d2dc976e6931","type":"sqlite","z":"2bbc42a3410a5ddc","mydb":"17d213ceb548bead","sqlquery":"fixed","sql":"select email from subscribers where hash is null;","name":"select emails with no hash","x":760,"y":200,"wires":[["93f78c65c3dd5778"]]},{"id":"a4e6cf174fb5b7c3","type":"http in","z":"2bbc42a3410a5ddc","name":"add subscriber [POST]","url":"/add-subscriber/YOUR-DOMAIN.COM","method":"post","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["1a2ce120223fb16a"]]},{"id":"ebdab483c5ba01d6","type":"function","z":"2bbc42a3410a5ddc","name":"Process Email","func":"var email = msg.payload.email;\nmsg.topic = `INSERT INTO subscribers (email) VALUES ('${email}')`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":140,"wires":[["acf9d6b169115e8e"]]},{"id":"313b9bcc31c67809","type":"http response","z":"2bbc42a3410a5ddc","name":"Error Response","statusCode":"302","headers":{"location":"https://YOUR-DOMAIN.COM/500.html"},"x":1700,"y":120,"wires":[]},{"id":"acf9d6b169115e8e","type":"sqlite","z":"2bbc42a3410a5ddc","mydb":"17d213ceb548bead","sqlquery":"msg.topic","sql":"","name":"add to subscribers.db","x":740,"y":140,"wires":[["97807ad200487d7b","95c4d2dc976e6931"]]},{"id":"97807ad200487d7b","type":"http response","z":"2bbc42a3410a5ddc","name":"","statusCode":"302","headers":{"location":"https://YOUR-DOMAIN.COM/you-are-subscribed/"},"x":1040,"y":80,"wires":[]},{"id":"6a1b86a19aa791bb","type":"catch","z":"2bbc42a3410a5ddc","name":"","scope":["f2b6eb244bfe9346","95c4d2dc976e6931","acf9d6b169115e8e"],"uncaught":false,"x":1550,"y":120,"wires":[["313b9bcc31c67809"]]},{"id":"1","type":"http in","z":"2bbc42a3410a5ddc","name":"list subscribers [POST]","url":"/get-subscribers/YOUR-DOMAIN.COM","method":"post","upload":false,"swaggerDoc":"","x":160,"y":520,"wires":[["2"]]},{"id":"2","type":"function","z":"2bbc42a3410a5ddc","name":"Validate Token","func":"const validToken = \"GET-A-TOKEN-HERE\";\n\nconst authHeader = msg.req.headers.authorization;\nif (authHeader && authHeader.startsWith('Bearer ')) {\n    const token = authHeader.slice(7, authHeader.length).trimLeft();\n    if (token === validToken) {\n        return msg;\n    }\n}\n\nmsg.statusCode = 403;\nmsg.payload = \"Forbidden\";\nreturn [null, msg];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":520,"wires":[["3"],["4"]]},{"id":"3","type":"sqlite","z":"2bbc42a3410a5ddc","mydb":"17d213ceb548bead","sqlquery":"fixed","sql":"select * from subscribers","name":"","x":660,"y":520,"wires":[["097fc06c39526078"]]},{"id":"4","type":"http response","z":"2bbc42a3410a5ddc","name":"Error Response","statusCode":"403","headers":{},"x":680,"y":580,"wires":[]},{"id":"5","type":"http response","z":"2bbc42a3410a5ddc","name":"Success Response","statusCode":"200","headers":{},"x":1090,"y":520,"wires":[]},{"id":"097fc06c39526078","type":"function","z":"2bbc42a3410a5ddc","name":"returns csv","func":"// Assuming msg.payload is an array of objects like [{email: '...'}, {email: '...'}, ...]\nif (Array.isArray(msg.payload)) {\n    msg.payload = msg.payload.map(item => item.email).join(', ');\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":520,"wires":[["5"]]},{"id":"50f668751310034a","type":"http in","z":"2bbc42a3410a5ddc","name":"dry run endpoint [POST]","url":"/get-subscribers/YOUR-DOMAIN.COM/dry-run","method":"post","upload":false,"swaggerDoc":"","x":150,"y":460,"wires":[["2e5b243ea0263835"]]},{"id":"2e5b243ea0263835","type":"function","z":"2bbc42a3410a5ddc","name":"Validate Token","func":"const validToken = \"GET-A-TOKEN-HERE\";\n\nconst authHeader = msg.req.headers.authorization;\nif (authHeader && authHeader.startsWith('Bearer ')) {\n    const token = authHeader.slice(7, authHeader.length).trimLeft();\n    if (token === validToken) {\n        return msg;\n    }\n}\n\nmsg.statusCode = 403;\nmsg.payload = \"Forbidden\";\nreturn [null, msg];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":460,"wires":[["fca5122aa645b786"],[]]},{"id":"93f78c65c3dd5778","type":"split","z":"2bbc42a3410a5ddc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":950,"y":200,"wires":[["5aa507c260bb2614"]]},{"id":"4b4332f549c37ce1","type":"hasher","z":"2bbc42a3410a5ddc","name":"","function":"Generate Hash","hashSize":"SHA256","hmacKey":"","verification":"","x":820,"y":240,"wires":[["1a4e4b470bf1c9d8"]]},{"id":"5aa507c260bb2614","type":"change","z":"2bbc42a3410a5ddc","name":"","rules":[{"t":"set","p":"email","pt":"msg","to":"payload.email","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":200,"wires":[["4b4332f549c37ce1"]]},{"id":"1a4e4b470bf1c9d8","type":"function","z":"2bbc42a3410a5ddc","name":"update db","func":"// Ensure that the payload and email are present\nif (msg.payload && msg.email) {\n    // Construct the SQL update statement\n    var updateQuery = `UPDATE subscribers SET hash = '${msg.payload}' WHERE email = '${msg.email}'`;\n\n    // Set the query in the payload or another property\n    msg.topic = updateQuery;\n    msg.payload.email = msg.email;\n    // Pass the message to the next node\n    return msg;\n} else {\n    // Handle the case where payload or email is missing\n    node.error(\"Payload or email is missing\", msg);\n    return null; // Stop the flow\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":240,"wires":[["0767351788e76273","a0143dae69c47aa3"]]},{"id":"51ae523bd295e3d0","type":"http in","z":"2bbc42a3410a5ddc","name":"remove subscriber [POST]","url":"/remove-subscriber/YOUR-DOMAIN.COM","method":"post","upload":false,"swaggerDoc":"","x":150,"y":600,"wires":[["d6fc32b92b9edfb8","73a4862e467869e6"]]},{"id":"e7773e6877b916b7","type":"template","z":"2bbc42a3410a5ddc","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"delete from subscribers where hash = '{{payload.e}}'","output":"str","x":600,"y":640,"wires":[["17c1abcff43c1e0b"]]},{"id":"17c1abcff43c1e0b","type":"sqlite","z":"2bbc42a3410a5ddc","mydb":"17d213ceb548bead","sqlquery":"msg.topic","sql":"select email from subscribers where email = 'mail@YOUR-DOMAIN.COM' limit 1;","name":"","x":800,"y":640,"wires":[["2feb3f33f78ed9eb"]]},{"id":"c0035769ebd011de","type":"sqlite","z":"2bbc42a3410a5ddc","mydb":"17d213ceb548bead","sqlquery":"fixed","sql":"select * from subscribers;","name":"select * from subscribers;","x":370,"y":900,"wires":[["a6538589b137f848"]]},{"id":"821ce7e27f4e16f7","type":"inject","z":"2bbc42a3410a5ddc","name":"get all subscribers","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":900,"wires":[["c0035769ebd011de"]]},{"id":"0767351788e76273","type":"sqlite","z":"2bbc42a3410a5ddc","mydb":"17d213ceb548bead","sqlquery":"msg.topic","sql":"","name":"save calculated hash","x":1420,"y":240,"wires":[[]]},{"id":"2feb3f33f78ed9eb","type":"http response","z":"2bbc42a3410a5ddc","name":"","statusCode":"302","headers":{"location":"https://YOUR-DOMAIN.COM/unsubscribed/"},"x":1060,"y":640,"wires":[]},{"id":"fca5122aa645b786","type":"template","z":"2bbc42a3410a5ddc","name":"bruno tester","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"mail@YOUR-DOMAIN.COM, bruno@lisboncollective.com","output":"str","x":870,"y":460,"wires":[["5"]]},{"id":"10f45dea121abf91","type":"template","z":"2bbc42a3410a5ddc","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"delete from subscribers where hash = '{{payload}}'","output":"str","x":320,"y":960,"wires":[["5f2d85a62f8bbca4"]]},{"id":"5f2d85a62f8bbca4","type":"sqlite","z":"2bbc42a3410a5ddc","mydb":"17d213ceb548bead","sqlquery":"msg.topic","sql":"select email from subscribers where email = 'mail@YOUR-DOMAIN.COM' limit 1;","name":"","x":520,"y":960,"wires":[["a6538589b137f848"]]},{"id":"a803b551497f3ffe","type":"inject","z":"2bbc42a3410a5ddc","name":"hash to delete","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"9d762b0de9eee508e887907babb1dd041138f82146810dabb87224d5d8443739","payloadType":"str","x":170,"y":960,"wires":[["10f45dea121abf91"]]},{"id":"a6538589b137f848","type":"debug","z":"2bbc42a3410a5ddc","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":840,"y":900,"wires":[]},{"id":"d6fc32b92b9edfb8","type":"template","z":"2bbc42a3410a5ddc","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from subscribers where hash = '{{payload.e}}'","output":"str","x":380,"y":700,"wires":[["4329638185fa9483"]]},{"id":"4329638185fa9483","type":"sqlite","z":"2bbc42a3410a5ddc","mydb":"17d213ceb548bead","sqlquery":"msg.topic","sql":"select email from subscribers where email = 'mail@YOUR-DOMAIN.COM' limit 1;","name":"","x":560,"y":700,"wires":[["f3b3deb31eb2ebd6"]]},{"id":"39492c8b15b5b5ee","type":"e-mail","z":"2bbc42a3410a5ddc","server":"smtp.eu.mailgun.org","port":"465","authtype":"BASIC","saslformat":true,"token":"oauth2Response.access_token","secure":true,"tls":true,"name":"bruno@lisboncollective.com","dname":"","x":1680,"y":80,"wires":[]},{"id":"d35cb4666fcfee74","type":"template","z":"2bbc42a3410a5ddc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ubsubscribed: {{payload.email}} ","output":"str","x":880,"y":700,"wires":[["9007c8bab52d2745"]]},{"id":"f3b3deb31eb2ebd6","type":"split","z":"2bbc42a3410a5ddc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":750,"y":700,"wires":[["d35cb4666fcfee74"]]},{"id":"73a4862e467869e6","type":"delay","z":"2bbc42a3410a5ddc","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":600,"wires":[["e7773e6877b916b7"]]},{"id":"1acc08d33646b0e2","type":"template","z":"2bbc42a3410a5ddc","name":"New subscriber alert","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"New subscriber: {{payload}} !","output":"str","x":1420,"y":300,"wires":[["f5a063f840fb3667"]]},{"id":"f5a063f840fb3667","type":"link out","z":"2bbc42a3410a5ddc","name":"link out 1","mode":"link","links":["8b17b2c3011a7dd6"],"x":1555,"y":300,"wires":[]},{"id":"8b17b2c3011a7dd6","type":"link in","z":"2bbc42a3410a5ddc","name":"link in 1","links":["f5a063f840fb3667","de569e850eafa60f"],"x":1515,"y":80,"wires":[["39492c8b15b5b5ee"]]},{"id":"de569e850eafa60f","type":"link out","z":"2bbc42a3410a5ddc","name":"link out 2","mode":"link","links":["8b17b2c3011a7dd6"],"x":1195,"y":700,"wires":[]},{"id":"a0143dae69c47aa3","type":"change","z":"2bbc42a3410a5ddc","name":"email","rules":[{"t":"set","p":"topic","pt":"msg","to":"New Subscriber","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"email","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":300,"wires":[["1acc08d33646b0e2"]]},{"id":"9007c8bab52d2745","type":"change","z":"2bbc42a3410a5ddc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Unsubscribed notification","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":700,"wires":[["de569e850eafa60f"]]},{"id":"2559f437613841cf","type":"template","z":"2bbc42a3410a5ddc","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"delete from subscribers where email = '{{payload}}'","output":"str","x":320,"y":1000,"wires":[["5f2d85a62f8bbca4"]]},{"id":"bbd4026d892c039a","type":"inject","z":"2bbc42a3410a5ddc","name":"email to delete","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"YODJor.twhqqbj@pointel.xyz","payloadType":"str","x":160,"y":1000,"wires":[["2559f437613841cf"]]},{"id":"87c185dcb4735387","type":"function","z":"2bbc42a3410a5ddc","name":"Validate Token","func":"const validToken = \"GET-A-TOKEN-HERE\";\n\nconst authHeader = msg.req.headers.authorization;\nif (authHeader && authHeader.startsWith('Bearer ')) {\n    const token = authHeader.slice(7, authHeader.length).trimLeft();\n    if (token === validToken) {\n        return msg;\n    }\n}\n\nmsg.statusCode = 403;\nmsg.payload = \"Forbidden\";\nreturn [null, msg];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":780,"wires":[["5ab848b9f3ca185c"],["51b3953bf20c18b5"]]},{"id":"5e27a4e7dd494cb1","type":"http in","z":"2bbc42a3410a5ddc","name":"Admin Remove Subscriber","url":"/remove-subscriber/YOUR-DOMAIN.COM/admin","method":"post","upload":false,"swaggerDoc":"","x":150,"y":780,"wires":[["87c185dcb4735387"]]},{"id":"be52735a16e271a5","type":"http response","z":"2bbc42a3410a5ddc","name":"","statusCode":"","headers":{},"x":1030,"y":800,"wires":[]},{"id":"5ab848b9f3ca185c","type":"template","z":"2bbc42a3410a5ddc","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"delete from subscribers where email = '{{payload}}'","output":"str","x":660,"y":780,"wires":[["04af393def5ab077"]]},{"id":"04af393def5ab077","type":"sqlite","z":"2bbc42a3410a5ddc","mydb":"17d213ceb548bead","sqlquery":"msg.topic","sql":"select email from subscribers where email = 'mail@YOUR-DOMAIN.COM' limit 1;","name":"","x":840,"y":780,"wires":[["be52735a16e271a5"]]},{"id":"51b3953bf20c18b5","type":"change","z":"2bbc42a3410a5ddc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Johnny Five says no","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":820,"wires":[["be52735a16e271a5"]]},{"id":"eb15ddd2c8543fe9","type":"sqlite","z":"2bbc42a3410a5ddc","mydb":"17d213ceb548bead","sqlquery":"msg.topic","sql":"","name":"","x":500,"y":1100,"wires":[["54a60404167b4596"]]},{"id":"dcc593e7955c2825","type":"template","z":"2bbc42a3410a5ddc","name":"","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO subscribers (email) VALUES \n('15554@alunos.escs.ipl.pt'),\n('15528@alunos.escs.ipl.pt'),\n('15699@alunos.escs.ipl.pt'),\n('15575@alunos.escs.ipl.pt'),\n('15540@alunos.escs.ipl.pt'),\n('15523@alunos.escs.ipl.pt'),\n('15672@alunos.escs.ipl.pt'),\n('15552@alunos.escs.ipl.pt'),\n('15271@alunos.escs.ipl.pt'),\n('15663@alunos.escs.ipl.pt'),\n('15537@alunos.escs.ipl.pt'),\n('15562@alunos.escs.ipl.pt'),\n('15572@alunos.escs.ipl.pt'),\n('15668@alunos.escs.ipl.pt'),\n('15549@alunos.escs.ipl.pt'),\n('15527@alunos.escs.ipl.pt'),\n('15559@alunos.escs.ipl.pt'),\n('15573@alunos.escs.ipl.pt'),\n('15555@alunos.escs.ipl.pt'),\n('15563@alunos.escs.ipl.pt'),\n('15666@alunos.escs.ipl.pt'),\n('15542@alunos.escs.ipl.pt'),\n('15137@alunos.escs.ipl.pt'),\n('14287@alunos.escs.ipl.pt'),\n('15147@alunos.escs.ipl.pt'),\n('15233@alunos.escs.ipl.pt'),\n('15561@alunos.escs.ipl.pt'),\n('15525@alunos.escs.ipl.pt'),\n('14847@alunos.escs.ipl.pt'),\n('15067@alunos.escs.ipl.pt'),\n('15258@alunos.escs.ipl.pt'),\n('15139@alunos.escs.ipl.pt'),\n('15547@alunos.escs.ipl.pt'),\n('15535@alunos.escs.ipl.pt'),\n('15545@alunos.escs.ipl.pt'),\n('12771@alunos.escs.ipl.pt'),\n('15534@alunos.escs.ipl.pt'),\n('15578@alunos.escs.ipl.pt'),\n('15544@alunos.escs.ipl.pt'),\n('15664@alunos.escs.ipl.pt'),\n('15558@alunos.escs.ipl.pt'),\n('15538@alunos.escs.ipl.pt'),\n('15579@alunos.escs.ipl.pt'),\n('15551@alunos.escs.ipl.pt'),\n('15268@alunos.escs.ipl.pt'),\n('13470@alunos.escs.ipl.pt'),\n('15557@alunos.escs.ipl.pt'),\n('15667@alunos.escs.ipl.pt'),\n('15138@alunos.escs.ipl.pt'),\n('15553@alunos.escs.ipl.pt'),\n('15135@alunos.escs.ipl.pt'),\n('13452@alunos.escs.ipl.pt'),\n('15565@alunos.escs.ipl.pt'),\n('14779@alunos.escs.ipl.pt'),\n('15757@alunos.escs.ipl.pt'),\n('15530@alunos.escs.ipl.pt'),\n('15546@alunos.escs.ipl.pt'),\n('15526@alunos.escs.ipl.pt'),\n('15566@alunos.escs.ipl.pt'),\n('15532@alunos.escs.ipl.pt'),\n('15580@alunos.escs.ipl.pt'),\n('15577@alunos.escs.ipl.pt'),\n('15276@alunos.escs.ipl.pt'),\n('15569@alunos.escs.ipl.pt'),\n('14213@alunos.escs.ipl.pt'),\n('15361@alunos.escs.ipl.pt'),\n('15670@alunos.escs.ipl.pt'),\n('15671@alunos.escs.ipl.pt'),\n('15568@alunos.escs.ipl.pt'),\n('14941@alunos.escs.ipl.pt'),\n('15004@alunos.escs.ipl.pt'),\n('15529@alunos.escs.ipl.pt'),\n('15673@alunos.escs.ipl.pt'),\n('15758@alunos.escs.ipl.pt'),\n('15570@alunos.escs.ipl.pt'),\n('14998@alunos.escs.ipl.pt'),\n('14194@alunos.escs.ipl.pt'),\n('15275@alunos.escs.ipl.pt'),\n('15264@alunos.escs.ipl.pt'),\n('15273@alunos.escs.ipl.pt'),\n('15168@alunos.escs.ipl.pt'),\n('15623@alunos.escs.ipl.pt'),\n('15283@alunos.escs.ipl.pt'),\n('15262@alunos.escs.ipl.pt'),\n('15269@alunos.escs.ipl.pt'),\n('15261@alunos.escs.ipl.pt'),\n('15260@alunos.escs.ipl.pt'),\n('15274@alunos.escs.ipl.pt'),\n('15277@alunos.escs.ipl.pt'),\n('15629@alunos.escs.ipl.pt'),\n('15624@alunos.escs.ipl.pt'),\n('15257@alunos.escs.ipl.pt'),\n('15628@alunos.escs.ipl.pt'),\n('15232@alunos.escs.ipl.pt'),\n('15279@alunos.escs.ipl.pt'),\n('15280@alunos.escs.ipl.pt'),\n('15263@alunos.escs.ipl.pt'),\n('14509@alunos.escs.ipl.pt'),\n('15284@alunos.escs.ipl.pt'),\n('14528@alunos.escs.ipl.pt'),\n('15627@alunos.escs.ipl.pt'),\n('15069@alunos.escs.ipl.pt'),\n('15265@alunos.escs.ipl.pt'),\n('15626@alunos.escs.ipl.pt'),\n('15281@alunos.escs.ipl.pt'),\n('14223@alunos.escs.ipl.pt'),\n('15270@alunos.escs.ipl.pt'),\n('14514@alunos.escs.ipl.pt'),\n('12202@alunos.escs.ipl.pt'),\n('15282@alunos.escs.ipl.pt'),\n('15709@alunos.escs.ipl.pt'),\n('14229@alunos.escs.ipl.pt'),\n('15750@alunos.escs.ipl.pt');","output":"str","x":320,"y":1100,"wires":[["eb15ddd2c8543fe9"]]},{"id":"54a60404167b4596","type":"debug","z":"2bbc42a3410a5ddc","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":1160,"wires":[]},{"id":"5f723b9528483178","type":"inject","z":"2bbc42a3410a5ddc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1100,"wires":[["dcc593e7955c2825"]]},{"id":"1a2ce120223fb16a","type":"switch","z":"2bbc42a3410a5ddc","name":"check blacklist","property":"payload.email","propertyType":"msg","rules":[{"t":"cont","v":"rightbliss.beauty","vt":"str"},{"t":"cont","v":"silesia.life","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":100,"wires":[["97807ad200487d7b"],["97807ad200487d7b"],["ebdab483c5ba01d6"]]},{"id":"17d213ceb548bead","type":"sqlitedb","db":"/data/subscribers.db","mode":"RWC"}]